.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-dates {
  margin: 2px;
  padding: 4px 6px;
  border: 1px solid black;
  cursor: pointer;
}

.active {
  background: cornflowerblue;
  margin: 2px;
  padding: 4px 6px;
  border: 1px solid black;
  cursor: pointer;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
/*# sourceMappingURL=card.css.map */