.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  flex-wrap: wrap;
}

.card-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-dates {
  margin: 2px;
  padding: 4px 6px;
  border: 1px solid black;
  cursor: pointer;
}

.active {
  background: cornflowerblue;
  margin: 2px;
  padding: 4px 6px;
  border: 1px solid black;
  cursor: pointer;
}

.flex-50 {
  flex: 0 1 40%;
}
